		{
		"number": "@@pnum@@",
		"name": "@@pname@@",
		"roster": "@@roster@@",
		"current": "@@pstatus@@",
		"minutes" : "@@pm@@",
		"scores": [
			@@goals@@
		],
		"yellow": "@@py@@",
		"red": "@@pr@@"
		},
